
*
**

!.vsixmanifest
!node_modules
!out
!Icon512.png
!LICENSE.md
!package.json
!changeog.md
!syntaxes/**
!src/FSharpLanguageServer/bin/Release/net6.0/publish/**
!src/FSharpLanguageServer/bin/Release/net6.0/assembly/README.md