.vscode/**
nuget/**
client/obj/**
client/bin/**
sample/**
scripts/**
src/**
!src/FSharpLanguageServer/bin/Release/netcoreapp2.0/osx.10.11-x64/publish/**
!src/FSharpLanguageServer/bin/Release/netcoreapp2.0/win10-x64/publish/**
tests/**
build.vsix
fsharp-language-server.sln
Scratch.fsx
Scratch.md
TODO.md
tsconfig.json