.vscode/**
client/obj/**
client/bin/**
sample/**
scripts/**
src/**
!src/FSharpLanguageServer/bin/Release/netcoreapp3.0/osx.10.11-x64/publish/**
!src/FSharpLanguageServer/bin/Release/netcoreapp3.0/win10-x64/publish/**
!src/FSharpLanguageServer/bin/Release/netcoreapp3.0/linux-x64/publish/**
!src/FSharpLanguageServer/bin/Release/netcoreapp3.0/assembly/README.md
tests/**
build.vsix
fsharp-language-server.sln
Scratch.fsx
TODO.md
tsconfig.json
