source https://api.nuget.org/v3/index.json
storage: none
framework: auto-detect
nuget Expecto 9.0.4
nuget FSharp.Compiler.Service 41.0.1
nuget FSharp.Data 4.2.5
nuget FSharp.UMX
nuget HtmlAgilityPack 1.11.39
nuget Ionide.ProjInfo
nuget Ionide.ProjInfo.FCS
nuget Ionide.ProjInfo.ProjectSystem 
nuget logary 4.2.1
nuget Microsoft.NET.Sdk.Functions
nuget Microsoft.NET.Test.Sdk 17.0.0
nuget Serilog 2.10.0
nuget Serilog.Sinks.Console 4.0.1
nuget Serilog.Sinks.File 5.0.0
nuget System.IO.FileSystem 4.3.0
nuget System.IO.FileSystem.Primitives 4.3.0
nuget System.Net.NameResolution 4.3.0
nuget System.Security.Principal 4.3.0
nuget System.Threading.ThreadPool 4.3.0
nuget Thoth.Json.Net 8.0.0
nuget YoloDev.Expecto.TestSdk 0.12.13
nuget FSharp.SystemTextJson



nuget Microsoft.Build.Locator 


# don't expose as a package reference
nuget Microsoft.SourceLink.GitHub copy_local: true
# don't copy runtime assets
nuget Microsoft.Build.Framework copy_local: false
nuget Microsoft.Build.Tasks.Core copy_local: false
nuget Microsoft.Build.Utilities.Core  copy_local:false #this needs to be copied or we get errors
nuget Microsoft.Build copy_local: false

nuget Newtonsoft.Json 13.0.1